/* ==========================================================================

   Util -> Fonts

   ========================================================================== */

@mixin font-face (
  $family-name,
  $file-name,
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    $font-path: "../static/fonts/#{$file-name}";
    font-family: "#{$family-name}";
    src: url($font-path + '.eot');
    src: url($font-path + '.eot?iefix') format('eot'),
         url($font-path + '.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

/* Fonts -> Saol Text Bold
   ========================================================================== */

@include font-face(
  $family-name: Saol Text,
  $file-name: SaolText-Bold,
  $font-weight: bold
);

/* Fonts -> Saol Display Bold
   ========================================================================== */

@include font-face(
  $family-name: Saol Display,
  $file-name: SaolDisplay-Bold,
  $font-weight: 600
);

/* Fonts -> Haptik
   ========================================================================== */

@include font-face(
  $family-name: Haptik,
  $file-name: GT-Haptik-Regular,
  $font-weight: 400
);

@include font-face(
  $family-name: Haptik,
  $file-name: GT-Haptik-Bold,
  $font-weight: 600
);
