<li class="author-credits__list-item">
  <span class="author-credits__text">
    <a href="{{ url }}"{{ label }}</a>
  </span>
  <span class="author-credits__title">{{ content.field_job_type }}</span>
</li>
