<div class="pullquote">
	<p>{{ entity.field_quote }}
		<span>{{ entity.field_author }}</span>
	</p>
	<ul class="article__social-list">
    <li class="article__social-list-item">
      <a href="" title="Share - Twitter" class="article__social-link article__social-link--twitter">Twitter</a>
    </li>
    <li class="article__social-list-item">
      <a href="" title="Share - Facebook" class="article__social-link article__social-link--facebook">Facebook</a>
    </li>
  </ul>
</div>
