<section class="photo-layout photo-layout--4x1 <?php print trim(render($content['field_fullbleed'])) ?>">
  <div class="photo-layout__wrapper">
    {{ entity }}
  </div>
  {% if entity.field_caption|render is not empty or entity.field_credit|render is not empty %}
  <figcaption class="caption">
    {% if entity.field_caption is not empty %}
      {{ entity.field_caption|render|striptags }}
    {% endif %}
    {% if entity.field_credit is not empty %}
      <span class="img-credit">{{ entity.field_credit|render|striptags }}</span>
    {% endif %}
  </figcaption>
  {% endif %}
</section>
